<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huanhailiuxin.demo.coolviewpager">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityOrientation" />
        <activity android:name=".ActivityEdgeEffectColor" />
        <activity android:name=".EnableNotifyActivity" />
        <activity android:name=".ActivityAutoScroll" />
        <activity android:name=".ActivityPageTransformer"></activity>
        <activity
            android:name=".CustomErrorActivity"
            android:label="@string/error_title"
            android:process=":error_activity">
            <!-- You can also use this instead of using CustomActivityOnCrash.setErrorActivityClass(CustomErrorActivity.class); -->
            <!-- <intent-filter> -->
            <!-- <action android:name="cat.ereza.customactivityoncrash.ERROR" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>